body {
	margin: 0;
	padding: 0;
	background: #181717;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #f4e115;
    display: flex;
    flex-direction: column;
    height: 100%;
}

html{
    height: 100%;
  }

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #9C9A9A;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

@import url(https://fonts.googleapis.com/css?family=Lora);
body {margin:0;}
h2 {
  font-family: monospace;
  color: #606060;
}
ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
nav {
  display: flex;
  margin: 0 auto;
}

.two ul {
  overflow: hidden;
  padding: 0;
}
.two li {
  float: left;
}
.two a {
  display: block;
  padding: 1em;
  border-right: 1px solid #ADC0CE;
  background: rgba(173, 192, 206, .3);
  color: #727672;
}
.two a:hover {background: #f4d71f}

.active {
  background: #f4d71f
}

.header{
  background: #999b9c;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-name{
    display: flex;
    justify-content: center;
}

.main-content{
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
 }
 footer{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center
 }

 .container{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

.main-header{
    margin: 30px 30px 0px 0px;
}

 .main-text{
     max-width: 600px;
 }

 .main-image{
    max-width: 600px;
    max-height: 300px;
 }

 .double-border-button {
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #f1c40f;
    color: #f1c40f;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
  }
  .double-border-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
  }
  .double-border-button:hover:after {
    border-color: #f1c40f;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
  }


  * {
    box-sizing: border-box;
 }
 .product-item {
    
    width: 300px;
    text-align: center;
    margin: 0 40px;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    font-family: "Open Sans";
    transition: .3s ease-in;
 }
 .product-item:hover {
    border-bottom: 2px solid #fc5a5a;
 }
 .product-item img {
    display: block;
    width: 100%;
 }
 .product-list {
    background: #fafafa;
    padding: 15px 0;
 }
 .product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    margin: 0 0 10px 0;
 }
 .price {
    font-size: 16px;
    color: #fc5a5a;
    display: block;
    margin-bottom: 12px;
 }
 .button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
 }
 .product-item:hover .button {
    background: #fc5a5a;
 }

 .products{
     padding: 30px;
     display: flex;
 }

 .ball-image{
    object-fit: cover;
     width: 300px;
     height: 300px;
 }

 .team-image{
    object-fit: cover;
    width: 300px;
    height: 340px;
}